/* モバイル向けレイアウト */
@media all and (min-width: 800px) {
    #bombImg{
    width: 340px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    user-select: none;
    }
    #bombImg2{
    display: none;
    width: 340px;
    margin: 0 auto;
    user-select: none;
    }
    #fukidashi{
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 180px;
    }
}
